/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
/*.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
}*/


/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #333;
}

.masthead .footer {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 64em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  background-color: #38393a;
  padding: .7rem;
  width: 100%;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  background-color: #38393a;
}

/*
 * Custom
 */  

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}


/* Extended */

.cover div.row {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f8f9fa;
}

.minorlabel {
  font-size: 10px;
}

.tiner-text {
  font-size: 12px;
  font-weight: bold;
  margin-left: -48px;
}

.value-text {
  color: #fff !important;
  font-size: 12px;
  font-weight: bold;
}

.value-label {
  margin-top: 0px;
}

.cnv-deposit-amount, .cnv-withdraw-amount, .cnv-interest {
  color: white;
}

.wallet-field {
  margin-top: -25px;
}